.owner-details-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.owner-details-c__owner-photo{
    width: 72px;
    object-fit: cover;
    border-radius: 1rem;
}