*,
*::before,
*::after {
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'],
ul{
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* SCROLL */
::-webkit-scrollbar-corner { 
  background: rgba(0,0,0,0.5); 
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroller-thin {
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* FONT SIZE */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
  font-family: 'Nunito Sans', sans-serif;
}